QWidget  {			
	background: #404040;	
	color: white;
}

QDockWidget {
	background: #404040;
}

QDockWidget::title {
	border-image: url(:/images/border3.png);
	border-width: 2px;
	border-left: 12px;
	border-style: solid;
	padding: 4px;
}

QFrame {
	background: #404040;
        font: 11px;
        color: #B5B5B5;
}

QProgressBar {
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
}

QProgressBar::chunk {
    background-color: #FFFFFF;
    width: 2.15px;
}

QScrollArea {
	background: #404040;
}

QToolbar {
	background: #404040;
}

QLabel {
	background: transparent;
}

QAbstractScrollArea {
	background: #404040;	
	border-image: url(:/images/border2.png);
	border-width: 3px;
	border-color: #000000;
	border-style: solid;
	color: white;
        font: 11px;
}

QGraphicsView {
	background-color: #404040;
        selection-color: #ffffff;
        selection-background-color: #DAB033;
	color: white;
	font: 10px;
}

QGroupBox {		
	border-image: url(:/images/border.png);
	border-width: 3px;
	border-style: solid;
	padding: 4px;
}

QCheckBox {
        background: #404040;
        font: 11px;
}
/*
QCheckBox::indicator {
        border-image: url(:/images/border.png);
        border-style: solid;
        border-width: 3px;
        border-color: #202830;
}

QCheckBox::indicator:unchecked:hover {
        border-image: none;
        border-width: 1px;
 }

QCheckBox::indicator:checked {
        border-image: none;
        border-width: 1px;
 }*/


QPushButton {						 
	border-image: url(:/images/border.png);
	border-style: solid;
	border-width: 3px;
	border-color: #202830;
	
	min-width: 40px;
	
	color: white;
	font: 10px;
	padding: 4px;
	margin: 1px;
}

QPushButton:hover {						 
	border-image: none;
	border-width: 1px;
}

QPushButton:pressed {						 
	border-image: none;
	border-width: 1px;
}

QPushButton:checked {					 
	border-image: none;
	border-width: 1px;
}

QPushButton:disabled {
	color: #808080;
	border-image: none;
	border-width: 1px;
}

QTableWidget::item::disabled {
    color: gray;
}

QToolButton {					 
	border-image: url(:/images/border.png);
	border-style: solid;
	border-width: 2px;
	border-color: #202830;

	color: white;
	font: 10px;
	padding: 0px;
	margin: 0px;
}

QToolButton:hover {						 
	border-image: none;
	border-width: 1px;
}

QToolButton:checked {					 
	border-image: none;
	border-width: 1px;
}

QLabel {
        color: white;
}

QComboBox {
	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	color: white;
	font: 10px;
	padding: 2px;
	margin-left: 2px;
	margin-top: 2px;
}

QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 15px;

	border-left-width: 1px;
	border-left-color: darkgray;
	border-left-style: solid; /* just a single line */
}

QDial {
	background-color: #ffffff;
}

QDoubleSpinBox {						 
	border-style: solid;
	border-width: 1px;
	border-color: #a28a50;
	
	color: white;
	font: 10px;
	padding: 2px;
}

QDoubleSpinBox::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right; /* position at the top right corner */
	background: #404040;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	width: 16px; 
}

QDoubleSpinBox::up-button:hover {
	background: #484848;
}

QDoubleSpinBox::down-button {
	subcontrol-origin: border;
	subcontrol-position: bottom right; /* position at the top right corner */
	background: #404040;

	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	width: 16px; 
}

QDoubleSpinBox::down-button:hover {
	background: #484848;
}

QSpinBox {					
	border-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: #a28a50;
	
	color: white;
	font: 10px;
	padding: 2px;
}

QSpinBox::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right; /* position at the top right corner */
	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	width: 16px; 
}

QSpinBox::down-button {
	subcontrol-origin: border;
	subcontrol-position: bottom right; /* position at the top right corner */
	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	width: 16px; 
}

QLineEdit {			
	border-width: 1px;
	border-style: solid;
	border-color: #202830;

	color: white;
	font: 10px;
	padding: 2px;
}

QTextEdit {
	border-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #202830;

	color: white;
	font: 11px;
	padding: 2px;
}

QTabWidget::pane { /* The tab widget frame */
    border-top: 2px solid #c0c0c0;
}

QTabBar::tab {
	border-image: url(:/images/border.png);
	border-style: solid;
	border-width: 3px;
	border-color: #202830;
	
	padding: 4px;
	font: 10px;
}

QTabBar::tab:hover {					 
	border-image: none;
	border-width: 1px;
}

QTabBar::tab:selected {						 
	border-image: none;
	border-width: 1px;
}

QTableView {				 
	background: #373737;
	gridline-color: #484848;					 
	border-style: solid;
	border-width: 3px;
	border-color: #202830;
}

QHeaderView::section {
	background: #404040;
	border-style: solid;
	border-width: 1px;
	border-color: #202830;
	padding: 4px;
}

QHeaderView {
	border-image: none;
	border-width: 0px;
}

QTableView QTableCornerButton::section {
	border-style: solid;
	border-width: 1px;
	border-color: #202830;
 }

QMenuBar::item {
	spacing: 6px; /* spacing between menu bar items */
	padding: 6px 6px;
	background: transparent;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
	background: #a8a8a8;
}

QMenuBar::item:pressed {
	background: #888888;
}

QScrollBar::sub-page {
	background: #383838;
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
}

QScrollBar::add-page {
	background: #383838;
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
}
 
QScrollBar::handle {
	background: #868686;
	border-image: url(:/images/scrollbar.png);
	border-style: solid;
	border-width: 2px;
	border-color: #202830;
}
 
QScrollBar::handle:hover {
	background: #484848;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: #202020;
}

QSlider::groove:vertical {
	background: black;
	position: absolute; 
	left: 9px; right: 9px;
	border-style: solid;
	border-width: 1px;
	border-color: #303030;
}

QSlider::handle:vertical {
	height: 10px;
	margin: 0 -2px; /* expand outside the groove */
	
	background: #404040;
	border-style: solid;
	border-width: 1px;
	border-color: #202020;
}
